.login-page {
    background-image: url(../../assets/imgs/background.jpg);
    &__grid{
        height: 100%;
        justify-content: center;
    }
    &__logo {
        object-fit: contain;
        height: 220px;
        margin-bottom: 16px;
    }
    &__email-input, &__password-input {
        background-color: transparent;
        color: map-get($colors, light)
    }
}
