<ion-header>
  <ion-navbar> <ft-header></ft-header> </ion-navbar>
</ion-header>
<ion-content class="home-page">
  <ion-card *ngFor="let post of posts">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="post.owner.avatar" />
      </ion-avatar>
      <h2>{{ post.owner.name }}</h2>
      <p>{{ post.date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <img [src]="post.image" />

    <ion-card-content>
      <p>
        {{ post.caption }}
      </p>
    </ion-card-content>
    <ion-row class="home-page__card-row">
      <ion-col col-3>
        <button ion-button icon-start clear small color="secondary" (click)="showLikes(post.id)">
          <ion-icon name="heart" small></ion-icon>
          <div>{{ post.likes.number }} Likes</div>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-start clear small color="secondary">
          <ion-icon name="text" small></ion-icon>
          <div> {{ post.comments.number }} Comments</div>
        </button>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row class="home-page__card-row">
      <ion-col col-2>
        <button ion-button icon-only clear medium color="secondary"  (click)="onLikeClick(post.id)">
          <ion-icon name="heart" color="primary" *ngIf="post.isLiked; else elseBlock"></ion-icon>
          <ng-template #elseBlock>
            <ion-icon name="heart"></ion-icon>
          </ng-template>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear medium color="secondary">
          <ion-icon name="text"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
