// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.tabs-md .tabbar, .tabs-ios .tabbar {
  background: transparent;
}
.ion-page > ion-content {
  background-color: $background-color; 
}
.tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
  color: map-get($colors, light );
}
.toolbar-background-md, .toolbar-background-ios {
  background: $background-color;
}
.toolbar-title-md, .toolbar-title-ios {
  color: map-get($colors, primary )
}